{% extends 'base.html' %}
{% block content %}
<form method="POST" action="">
    {% csrf_token %}

    {% if user.is_authenticated %}
    <input name="restaurant_id" value="{{ user.id }}" style="display: none">
    {% endif %}
    <label>Product Name:</label>
    <input type="text" name="product_name" placeholder="Product Name"><br><br>
        <label>Price:</label>
    <input type="text" name="product_price" placeholder="Price"><br><br>
        <label>Description:</label>
    <input type="text" name="description" placeholder="Description"><br><br>
        <label>Image:</label>
    <input type="file" name="image"><br><br>
    <select name="category_name">
        {% for cat in categories %}
            <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
        {% endfor %}
    </select>
    <label>Status</label>
    <input type="radio" name="status" value="True"><input type="radio" name="status" value="False"><br><br>
    <input type="submit" value="Add"/>

</form>
    {% for m in messages %}
        <h3>{{ m }}</h3>
    {% endfor %}
{% endblock %}